@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background-container {
  min-height: 100%;
  background-image: url("./assets/bg-img-tmp.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}