@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .scrollbar-auto-hide {
    scrollbar-width: none;
    -ms-overflow-style: none; 
  }

  .scrollbar-auto-hide::-webkit-scrollbar {
    display: none; 
  }
}


.background-container {
  min-height: 100%;
  background-image: url("./assets/bg-img-tmp.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.profile-picture {
  background: repeating-conic-gradient(from var(--a),#ff2770 0%, #ff2770 5%, 
  transparent 5%, transparent 40%, #ff2770 50%);
  animation: animate 4s linear infinite;
  position: relative;
}
@property --a 
{
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
@keyframes animate 
{
  0%
  {
    --a: 0deg;
  }
  100%
  {
    --a: 360deg;
  }
}
.profile-picture::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(from var(--a),#45f3ff 0%, #45f3ff 5%, 
  transparent 5%, transparent 40%, #45f3ff 50%);
  animation: animate 4s linear infinite;
  animation-delay: -1s;
}